<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>

  <header>
    <h1>Construction</h1>
  </header>

  <section class="nav">
    <section class="input-wrapper">
      <a class="btn" href="http://localhost:9292/about">About</a>
      <a class="btn" href="http://localhost:9292/services">Services</a>
      <a class="btn" href="http://localhost:9292/">Home</a>
      </section>
  </section>

  <%= yield %>

  <footer>
    <p>&copy; 2015 </p>
  </footer>
</body>
</html>
