<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style/style.css">
  </head>
  <body>

  <header>
    <h1>Construction</h1>
  </header>

  <section class="nav">
    <section class="input-wrapper">
      <input id="about-button" type="button" value="About"></input>
      <input id="services-button" type="button" value="Services"></input>
      <input id="home-button" type="button" value="Home"></input>
      </section>
  </section>

  <%= yield %>

  <footer>
    <p>&copy; 2015 </p>
  </footer>
</body>
</html>
